name: New changeset
on: push

jobs:
  test:
    name: Run tests
    strategy:
      matrix:
        os: [ubuntu-18.04]
        node: [8, 10, 12]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v1
      - uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node }}
      - run: yarn install
      - run: yarn test
